<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h1>Photo List</h1>
    <h3><a href="{% url 'photo_post' %}">New Photo</a></h3>

    <section>
      {% for photo in photos %}
      <div>
        <h2>
          <a href="{% url 'photo_detail' pk=photo.id %}">{{photo.title}}</a>
        </h2>
        <a href="{% url 'photo_download' photo.imagefile %}"
          ><img
            src="/media/{{photo.imagefile}}"
            alt="{{photo.title}}"
            width="300"
        /></a>
        <p>{{photo.autho}}, {{photo.price}}</p>
        <button onClick="location.href = '{% url 'photo_delete' photo.id %}' ">
          삭제
        </button>
      </div>
      {% endfor %}
    </section>
  </body>
</html>
