{% extends 'base.html' %} {% load bootstrap4 %} {% block html_body %}
<div class="container">
  <h1>수정하기</h1>
  <form
    action="{% url 'bbs:b_update_process' board_detail_form.initial.id %}"
    method="post"
  >
    {% csrf_token %} {% bootstrap_form board_detail_form %}
    <button class="btn btn-info" type="submit">적용</button><br /><br />
    <button
      class="btn btn-secondary"
      onClick="location.href='{% url 'bbs:b_list' %}'"
    >
      리스트로 돌아가기
    </button>
  </form>
</div>
{% endblock %}
